.light {
  --background: #eeeeee;
  --box: #f6f6f6;
  --card: #ffffff;
  --fade: rgba(0, 0, 0, 0.4);
  --paragraph: #373f37;
  --box-border: rgba(240, 240, 240, 1);
  --shadow-5: 0 0 1px 5px rgba(222, 222, 222, 1);
  --shadow-blur-10: 0 0 10px 0px rgba(22, 22, 22, 0.3);
}

.light ::-webkit-scrollbar-track {
  background-color: var(--background);
}

.light ::-webkit-scrollbar-thumb {
  background-color: var(--paragraph);
}
