@import "tailwindcss";

@config "../../../tailwind.config.ts";

@font-face {
  font-family: writer;
  src: url(../fonts/writer/regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: writer;
  src: url(../fonts/writer/regular-italic.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: writer;
  src: url(../fonts/writer/bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: writer;
  src: url(../fonts/writer/bold-italic.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: var(--paragraph);
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

.styles-module_tooltip__mnnfp {
  background-color: var(--background) !important;
  opacity: 1 !important;
  border: 1px solid var(--box-border) !important;
  border-radius: 12px !important;
  padding: 12px !important;
  z-index: 20 !important;
  pointer-events: initial !important;
  box-shadow: var(--shadow-blur-10);
}
