@import "tailwindcss";

@font-face {
  font-family: writer;
  src: url(../fonts/writer/regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: writer;
  src: url(../fonts/writer/regular-italic.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: writer;
  src: url(../fonts/writer/bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: writer;
  src: url(../fonts/writer/bold-italic.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

html {
  --default-font-family: "writer";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2457a8;
  cursor: pointer;
}
